#isawesome;blu.bla.com:80=8000,bla.fff.com:80=9999@world;addd
{{ $hosts := split (getenv "HOSTS") "@" }}
{{ range $hosts }}
   {{ $line := split . ";" }}
   # line {{ $line }}
   {{ $link := index $line 0 }}
   # link {{ $link }}
   {{ $linkelements := split $link "/" }}
   {{ $stack := index $link 0 }}
   {{ $service := index $link 1 }}
   {{ $containers := gets "/stacks/" . $stack . "/services/" . $service . "/containers" }}
   # containers {{ $containers }}
   {{ $proxies := split (index $line 1) "," }}
   # proxies {{ $proxies }}
   {{ range $proxies }}
   {{ $vhost := split . ":" }}
   {{ $vhostname := index $vhost 0 }}
   # vhostname {{ $vhostname }}
   {{ $ports := split (index $vhost 1) "=" }}
   # ports {{ $ports }}
   {{ $dport := index $ports 0 }}
   {{ $sport := index $ports 1 }}
   
	{{$vhostname}}:{{$dport}} {
	  #basicauth / Bob hiccup
	  proxy / {{$link}}:{{$sport}} {
	    websocket
	    proxy_header Host {host}
	    proxy_header X-Real-IP {remote}
	    proxy_header X-Forwarded-Proto {scheme}
	  }
	  log /logs/{{$link}}-access.log
	  {
	    rotate {
	      size 100 # Rotate after 100 MB
	      age  14  # Keep log files for 14 days
	      keep 10  # Keep at most 10 log files
	    }
	  }
	}
   {{ end }}
{{ end }}
